<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    colors="true">

    <php>
        <ini name="memory_limit" value="1G"/>
        <ini name="error_reporting" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Coroutine Test Suite">
            <directory suffix=".php">tests/</directory>
            <directory suffix=".phpt">tests/libuv/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">Coroutine/</directory>
            <exclude>
                <file>./Coroutine/UV.php</file>
                <file>./Coroutine/UVFunctions.php</file>
                <file>./Coroutine/UVHandles.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
